body {
    font-family: Arial, sans-serif; /* Fonte da página (Arial ou outra sans-serif) */
    margin: 0; /* Remove a margem externa padrão do navegador */
    padding: 0; /* Remove o padding (espaço interno) padrão */
    background-color: #c593f7; /* Define uma cor de fundo suave (azul claro) para o corpo da página */
}


/* Estiliza o cabeçalho (header), que geralmente contém o título principal da página */
header {
    background-color: #c593f7; /* Cor de fundo verde escuro para o header */
    color: white; /* Define a cor do texto como branco para contraste */
    padding: 20px; /* Adiciona espaçamento interno de 20px ao redor do conteúdo do header */
    text-align: center; /* Centraliza o conteúdo (texto) no header */
}

/* Remove a margem padrão que o navegador coloca nos títulos <h1> dentro do header */
header h1 {
    margin: 0; /* Elimina a margem superior e inferior do título, deixando-o alinhado ao padding do header */
}

nav {
    background: #bc7bfd;
    text-align: center;
    padding: 10px 0;
}
 
nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    margin: 0 10px;
    transition: background 0.3s;
}
 
nav a:hover {
    background: #150b20;
}

/* Estiliza a área principal (main) da página, onde fica o conteúdo mais importante */
main {
    color:#c593f7;
    padding:10px; /* Adiciona um espaço interno de 20px ao redor do conteúdo principal */
    background-color: #ffffff; /* Define o fundo branco para destacar o conteúdo em relação ao fundo azul claro do body */
    margin: 130px ; /* Adiciona uma margem externa de 20px ao redor da seção main, separando-a das bordas da página */
    border-radius: 10px; /* Adiciona bordas arredondadas para suavizar os contornos */
  }

/* Estiliza as seções (section) dentro do main, onde ficam blocos de conteúdo como "Sobre Nós" e "Serviços" */
section {
    margin-bottom: 20px; /* Adiciona uma margem inferior de 20px para separar visualmente as seções entre si */
}

section h2 {
    color: #d9bcf7; /* Define uma cor verde para os títulos das seções */
}

/* Estiliza o rodapé (footer), que geralmente contém informações legais ou de direitos autorais */
footer {
    background-color: #c593f7; /* Define um fundo verde escuro para o rodapé */
    color: white; /* Texto branco para manter o contraste */
    text-align: center; /* Centraliza o texto dentro do rodapé */
    padding: 10px; /* Adiciona um espaçamento interno de 10px ao redor do conteúdo do footer */

}
